<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>LingTools</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Setting</string>
			<key>footerText</key>
			<string>自动获取您设备中的“QQ”应用在运行周期中所使用的数据。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>cc.lingc.hook.qq</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>LingTools Hook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>开启前请确认“通讯地址”已填写且可用。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>cc.lingc.hook.qq</string>
			<key>key</key>
			<string>http_enable</string>
			<key>label</key>
			<string>启用通讯</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>获取到的数据格式化为JSON，通过POST请求发送至此地址。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>http://192.168.1.100/</string>
			<key>defaults</key>
			<string>cc.lingc.hook.qq</string>
			<key>key</key>
			<string>http_url</string>
			<key>isURL</key>
			<true/>
			<key>label</key>
			<string>通讯地址</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>在您变更设置后请“注销”，否则这些设置将不会生效！</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>注销</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>LingTools@子呅i</string>
		</dict>
	</array>
</dict>
</plist>
